/* Réinitialisation de certains styles par défaut pour une meilleure cohérence */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%; /* Ensure the entire viewport is covered */
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto; /* Layout header, content, footer */
    font-family: 'Times New Roman', serif;
    color: #333;
    background-color: #f4f4f9;
    line-height: 1.6;
}

header, footer {
    background-color: #003366;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

nav {
    background-color: #555;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    font-size: 16px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

main {
    padding: 20px;
    background-color: #ffffff;
}

section {
    margin-bottom: 20px;
}

section h2 {
    color: #003366;
    font-size: 20px;
    border-bottom: 2px solid #003366;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

/* Style pour les boutons et les liens interactifs */
button, .button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #666;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover, .button:hover {
    background-color: #777;
}

/* Adaptations pour les écrans plus petits */
@media (max-width: 768px) {
    nav ul li {
        display: block;
        margin-bottom: 10px;
    }

    header h1 {
        font-size: 20px;
    }
}
